*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

body {
    background-image: url('ownImages/background-image.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


nav{
    

    padding: 1.2%;
    padding-top: 2%;
    
    
}
.logoImage{
    background-image: url(unnamed.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8vh;
    width: 8vw; 
    margin-bottom: -4%;
    


}


.navItems{
    
    
}

.buttonDiv{
    margin-top: -3vh;
}

.getStartedButton{
    margin-left: 80vw;
    display: flex;
    border: 1px solid white;
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #000000;
    background-color: #ffffff;
    height: 48px;
    :hover{
        background-color: #4b4b4b;
    }

}

.navLinks{
    
    margin-left: 25vw;
    margin-right: 25vw;
    display: flex;
    
    overflow: visible;
    justify-content: center;
    justify-content:space-around;
    flex-direction: row;
    align-items: flex-end;
    
}

.navItems a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    font-size: 2rem;
    color: white;
   
}




.navItems a:hover{
    box-shadow: 3px 3px 2px rgb(61, 61, 61)
   
}

.HeadImage{
    
    background-image: url(images/gading-ihsan-yAwVPH-Z6L4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    margin-bottom: auto;
    
    
    height: 8vh;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    margin-bottom: 4vh;
    
    
    height: 10vh;
    align-content: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


header h1{
    animation: fadeIn 3s;
    color: white;
    margin-top: 20%;
    font-size: 10vw;
    
}
header h3{
    color: white;
    margin-top: 70vh;
    border: 1px solid white;
    align-self: center;
    margin-left: 20%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { color: rgb(161, 161, 161);}
    100% { opacity: 1; color: white;  }
  }

.firstSectionImage{
    border: 1px solid black;
    background: url(images/daniel-dy-92fAom0o-unsplash.jpg);
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border-radius: 25%; 
}


footer{
    background-color: rgb(26, 26, 26);
    width: 100%;
    margin-top: auto;
    border-top: 1px solid black;
    height: 8vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    
}

footer a{
    text-decoration: none;
    color: rgb(188, 86, 188);
}


.firstSection {
    background-color: rgb(255, 255, 255);
    padding: 1%;
    
    border-radius: 1px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    box-sizing: border-box;

    border: 4px solid transparent;
  border-radius: 20px;
  background: 
    linear-gradient(to right, rgb(234, 226, 226), rgb(255, 190, 190)), 
    linear-gradient(to right, rgb(255, 62, 62), rgb(255, 114, 114) ); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  
  
}



.insideFirstSection{
    padding: 0.1%;
    padding-bottom: 1%;
}



.firstSection p{
   
    font-size: 1.2rem;
    padding: 1%;
}

.firstSection button{
    margin-left: 70%;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    :hover {
        border-color: #000000;
        background: #f7f7f7;
    }
    
    
    
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
.contactContainer{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    border: 1px solid yellow;
}


@media (max-width: 768px) { 
 


}

@media (min-width: 1280px) { 
 
}